<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Meta data SEO
    ================================================== -->
<title>TCF APROPOS</title>
<meta name="keywords" content="" />
<meta name="description" content="Le Groupe Beaulac évolue dans un environnement complexe, en permanente mutation. Aucune place n’est laissée aux approximations et à l’improvisation." />

<!-- Twitter Card data
    ================================================== -->
<meta name="twitter:card" value="Le Groupe Beaulac évolue dans un environnement complexe, en permanente mutation. Aucune place n’est laissée aux approximations et à l’improvisation.">

<!-- Open Graph data
    ================================================== -->
<meta property="og:title" content="A propos - Le Groupe Beaulac - Gestion de patrimoine à Genève" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://wwww.nomdusite.ch" />
<meta property="og:image" content="../../img/beaulac-a-propos.jpg" />
<meta property="og:description" content="Le Groupe Beaulac évolue dans un environnement complexe, en permanente mutation. Aucune place n’est laissée aux approximations et à l’improvisation." />
<!-- Meta data SEO End-->

<!-- Fonts
    ================================================== -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700" rel="stylesheet">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="../../img/favicon.png" >
<link rel="apple-touch-icon" href="../../img/favicon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../img/favicon.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../img/favicon.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="../../css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome/../css/font-awesome.css">

<!-- Animations -->
<link rel="stylesheet" href="../../css/animate.min.css">


<!-- Slider
    ================================================== -->
<link href="../../../css/owl.carousel.css" rel="stylesheet" media="screen">
<link href="../../../css/owl.theme.css" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<link rel="stylesheet" type="text/css" href="../../css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="../../css/nivo-lightbox/default.css">


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60vh;
        width: 100%
      }
    </style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand page-scroll" href="../../#page-top"><img id="brand-img-bright" alt="Brand" src="../../img/logo.png"><img id="brand-img-dark" alt="Brand" src="../../img/logo-noir.png"></a></div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../a-propos" class="page-scroll">À propos</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Sociétés <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../mes_services/service1">TCF APROPOS</a></li>
              </ul>
            </li>
            <li><a href="../../#contact" class="page-scroll">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">FR <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">Français</a></li>
                <li><a href="../../en/about">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
<!-- Header -->
<header id="header">
  <div class="intro intro-secondaire" style="background-image: url(../../img/background_img.jpg); background-attachment: scroll;">
      <div class="container image-bg">
        <div class="row section-ctn">
          <div class="col-md-offset-5 col-md-7 section-main">
            <h1 class="wow fadeInRight content" data-wow-duration="1s" id="header-title">TCF APROPOS</h1>
          </div>
        </div>
      </div>
  </div>
</header>
<!-- About Section -->
<div id="valeurs">
  <div class="container-fluid basic-bg">
    <div class="row section-ctn">
      <div class="col-md-offset-1 col-md-8 col-sm-offset-2 col-sm-8 section-main">
          <div class=" col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
            <h3 class="uppercase content" id="services-element1-title">TCF APROPOS</h3>
            <p class="content" id="services-element1-paragraphe">TCF APROPOS</p>
          </div>
          <div class=" col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
            <h3 class="uppercase content" id="services-element2-title">TCF APROPOS</h3>
            <p class="content" id="services-element2-paragraphe">TCF APROPOS</p>
          </div>
          <div class=" col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
            <h3 class="uppercase content" id="services-element3-title">TCF APROPOS</h3>
            <p class="content" id="services-element3-paragraphe">TCF APROPOS</p>
          </div>
          <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
            <h3 class="uppercase content" id="services-element4-title">TCF APROPOS</h3>
            <p class="content" id="services-element4-paragraphe">TCF APROPOS</p>
          </div>


      </div>
      <div class="col-md-offset-0 col-md-1 col-sm-offset-2 col-sm-8 section-h2">
          <h2 class="content" id="services-title">Nos Valeurs</h2>
      </div>

  </div>
  <div class="decorative-trademark-ctn col-md-9">
    <!-- <img src="../../img/icons/decorative-trademark.svg" class="decorative-trademark bottom-right" alt=""> -->
  </div>
</div>
</div>

<!-- Methodologie Section -->
<div id="accreditations-environnement">
  <div class="container-fluid blue-bg">
    <div  class="row section-ctn">
      <div class="col-md-offset-2 col-md-2 col-sm-offset-2 col-sm-8 section-h2">
          <h2 class="wow fadeInUp content" id="section2-title">TCF APROPOS </h2>
      </div>
      <div class="col-md-offset-1 col-md-5 col-sm-offset-2 col-sm-8 section-main">
          <p class="content" id="section2-paragraphe1">TCF APROPOS</p>
          <p class="content" id="section2-paragraphe2">TCF APROPOS</p>
          <p class="content" id="section2-paragraphe3">Nous sommes membres de :</p>

          <p class="accreditation"><img src="../../img/logos/arif.png" class="logo-accreditation" alt=""><text class="content" id="section2-paragraphe4">TCF APROPOS</text></p>

          <p class="accreditation"><img src="../../img/logos/gscgi.png" class="logo-accreditation" alt=""><text class="content" id="section2-paragraphe5">TCF APROPOS</text></p>
          <p class="content" id="section2-paragraphe6">TCF APROPOS</p>
      </div>
    </div>

    <div class="decorative-trademark-ctn col-md-offset-2">
      <img src="../../img/icons/decorative-trademark-white.svg" class="decorative-trademark bottom-left" alt="">
    </div>
  </div>
</div>

<!-- Notre histoire Section -->
<div id="histoire">
  <div class="container-fluid golden-bg">
    <div class="row section-ctn">
      <div class="col-md-offset-2 col-md-6 col-sm-offset-2 col-sm-8 section-main timeline">

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element1-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element1-paragraphe">1989</div>
            </div><div class="line">
          </div>
        </div>
      </div>

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element2-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element2-paragraphe">1999</div>
            </div>
            <div class="line"></div>
          </div>
        </div>

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element3-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element3-paragraphe">2001</div>
            </div><div class="line"></div>
          </div>
        </div>

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element4-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element4-paragraphe">2004</div>
            </div>
            <div class="line"></div>
          </div>
        </div>

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element5-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element5-paragraphe">2005</div>
            </div>
            <div class="line"></div>
          </div>
        </div>

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element6-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element6-paragraphe">2006</div>
            </div>
            <div class="line"></div>
          </div>
        </div>

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element7-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element7-paragraphe">2007</div>
            </div>
            <div class="line"></div>
          </div>
        </div>

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element8-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element8-paragraphe">2010</div>
            </div>
            <div class="line"></div>
          </div>
        </div>

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element9-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element9-paragraphe">2015</div>
            </div>
            <div class="line"></div>
          </div>
        </div>

        <div class="row wow fadeInUp" data-wow-duration="1s">
          <div class="col-md-6 text">
            <p class="content" id="section3-element10-title">TCF APROPOS</p>
          </div>
          <div class="col-md-offset-1 col-md-4 date-panel">
            <div class="date-ctn">
              <div class="date content" id="section3-element10-paragraphe">2019</div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-offset-0 col-md-1 col-sm-offset-2 col-sm-8 section-h2">
          <h2 class="wow fadeInUp content" id="section3-title">TCF APROPOS</h2>
      </div>
  </div>
</div>
</div>


<!-- Risk Section -->
<div id="equipe">
  <div class="container-fluid basic-bg team-ctn" id="container-team">


</div>
</div>

<!-- Sponsoring Section -->
<!-- <div id="sponsoring">
  <div class="container-fluid golden-bg">
    <div class="row section-ctn">
      <div class="col-md-offset-2 col-md-5 col-sm-offset-2 col-sm-8 section-main">
        <div class=" col-md-12 col-sm-12 custom-list">
          <h3>Actions humanitaires</h3>
          <p class="wow fadeInUp" data-wow-duration="1s">Organisation repas caritatif de Noël au Carré à Genève (100 convives)</p>
          <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">Sortie des enfants du Foyer Arabella au cirque Knie, Genève</p>
          <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">Contribution à l’ouverture d’une école dans un village au Bénin (trouver nom village)</p>
          <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Participation à l'acquisition d’une ambulance à Ouidah au Bénin</p>
          <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Participations financières à diverses manifestations sociales</p>
        </div>

        <div class=" col-md-12 col-sm-12 custom-list">
          <h3>Sponsoring & Soutien financier</h3>
          <p class="wow fadeInUp" data-wow-duration="1s">Jeune espoir du tennis à Genève </p>
          <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">Divers concours hippiques</p>
        </div>

      </div>
      <div class="col-md-offset-1 col-md-3 col-sm-offset-2 col-sm-8 section-h2">
          <h2>mécénat & sponsoring</h2>
      </div>

  </div>
  <div class="decorative-trademark-ctn col-md-9">
    <img src="../../img/icons/decorative-trademark-white.svg" class="decorative-trademark bottom-right" alt="">
  </div>
</div>
</div> -->

<div id="carriere">
  <div class="container-fluid golden-bg">
    <div class="row section-ctn">
      <div class="col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-8 section-h2">
          <h2 class="wow fadeInUp">Career</h2>
      </div>
      <div class="col-md-offset-1 col-md-4 col-sm-offset-2 col-sm-8 section-main">
          <p>TCF About<a href="mailto:tcf@tcf.ch" style="color:white;">tcf@tcf.ch.</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
<div id="footer">
  <div class="container text-center">
    <div class="row text-left">
      <div class="col-md-12">
        <a class="page-scroll" href="#page-top"><img alt="Altras Sécurité" src="../../img/logo.png"></a>
      </div>
    </div>
    <div id="footer-ctn" class="row">
    <div id="footer-address" class="col-md-3 text-left">
      <ul>
        <li class="content-adresseLine1">
          <a target="_blank" href="https://www.google.ch/maps/place/Beaulac+SA,+Soci%C3%A9t%C3%A9+Financi%C3%A8re+d+Investissement/@46.1917077,6.1643105,17z/data=!3m1!4b1!4m5!3m4!1s0x478c7ab3ff7d091d:0xf696e6d5d8717c08!8m2!3d46.1917077!4d6.1664992?hl=en">
          4, Ch. Doctoresse-Champendal</a></li>
        <li class="content-adresseLine2">P.O. Box 62</li>
        <li><text class="content-zip">CH - 1211 </text> <text class="content-city">Genève 12</text></li>
        <li>Tél. : <a href="tel:+41227040880" class="content-phone1">+41 22 704 08 80</a></li>
        <li>Fax : <a class="content-fax" href="fax:+41227040888">+41 22 704 08 88</a></li>
        <li><a href="mailto:info@beaulacgroup.ch" class="content-email1">info@beaulacgroup.ch</a></li>
      </ul>
    </div>
    <div id="footer-menu-socitetes" class="col-md-3">
      <div class="text-left">
        <ul>
          <li class="list-title">4 distinct entities</li>
          <li><a href="../beaulac-sa">Beaulac S.A. </a></li>
          <li><a href="../societe-financiere-des-bastions-sa">Société Financière des Bastions S.A. (SFB)</a></li>
          <li><a href="../beaulac-management-services">Beaulac Management Services (BMS)</a></li>
          <li><a href="../beaulac-industry-and-finance">Beaulac Industry and Finance (BIF)</a></li>
        </ul>
      </div>
    </div>
    <div id="footer-menu-group" class="col-md-3">
      <div class="text-left">
        <ul>
          <li class="list-title">About the Group</li>
          <li><a href="../about#valeurs">Our values</a></li>
          <li><a href="../about#accreditations-environnement">Accreditations & environment</a></li>
          <li><a href="../about#histoire">Our history</a></li>
          <li><a href="../about#equipe">Our team</a></li>
          <li><a target="_blank" href="http://www.geneve-finance.ch/en-ch/overview">Geneva's financial place</a></li>

        </ul>
      </div>

    </div>
    <div id="footer-about-copyright" class="col-md-3">
      <p>Based in <a target="blank" href="https://www.google.ch/maps/place/Beaulac+SA,+Soci%C3%A9t%C3%A9+Financi%C3%A8re+d+Investissement/@46.1917077,6.1643105,17z/data=!3m1!4b1!4m5!3m4!1s0x478c7ab3ff7d091d:0xf696e6d5d8717c08!8m2!3d46.1917077!4d6.1664992?hl=en">
        Geneva</a>, Beaulac Group is comprised of <a href="../#sous-services">4 distinct entities</a> engaged in the fields of asset management, inheritance and tax planning, family office and consulting to family businesses.</p>
      <p class="copy-p">&copy; 2017 Beaulac S.A. Design : <a href="https://www.thecomputerfirm.com" target="blank" rel="nofollow">The Computer Firm</a></p>
    </div>
  </div>
  </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="../../js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="../../js/bootstrap.js"></script>
<script type="text/javascript" src="../../js/SmoothScroll.js"></script>
<script type="text/javascript" src="../../js/nivo-lightbox.js"></script>
<script type="text/javascript" src="../../js/jquery.isotope.js"></script>
<script type="text/javascript" src="../../js/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/jqBootstrapValidation.js"></script>
<!-- <script type="text/javascript" src="../js/contact_me.js"></script> -->
<script type="text/javascript" src="../../js/main.js"></script>
<script type="text/javascript" src="../../js/tcf-team.js"></script>
<script type="text/javascript" src="../../js/content.js"></script>
<script src="../../js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

  <script src='../../js/nprogress.js'></script>
  <link rel='stylesheet' href='../../css/nprogress.css'/>

  <script type="text/javascript">
    getContent('A propos');
    getContentTeam(0); // param represents the language
  </script>

</body>
</html>
